/* reset styles */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #b1b5c1;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}

/* custom styles */

html {
  font-size: 16px;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #343638;
  font-weight: 300;
  margin: 0 auto;
  background: #fff;
}

.site-header .top-bar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background: #E9DFDD;
  z-index: 11;
  top: 0;
  height: 45px;
  line-height: 45px;
}

.top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #E9DFDD;
}

.top-bar ul li a {
  display: inline;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  color: #343638;
}

.top-bar ul li a:hover {
  color: #f03a57;
}

.nav-item {

}